// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$blue-2: #00B4CC;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #e0f7ff;
$light-blue-2: #e6f5fb;
$black-gray: #333;