<%= simple_form_for [@listing, @booking] do |t| %>
  <div class="form-inputs">
    <%= t.input :comment,
                input_html: { class: "form-control bg-white" } %>

    <%= t.input :booking_date,
                as: :string,
                input_html: {
                  class: "form-control bg-white",
                  data: { controller: "datepicker" }
                } %>
  </div>

  <div class="form-actions mt-3 text-center">
    <%= t.submit "Book Now", class: "btn btn-primary rounded-pill px-4" %>
  </div>
<% end %>
