<footer class="footer-wrapper">
  <!-- Mini Footer -->
  <div class="footer-mini">
    <div class="footer-mini-content">
      <%= image_tag "logo_homeroom.png", class: "mini-logo" %>
      <span class="footer-credit">Created by Homeroom</span>
    </div>
  </div>

  <!-- Expanded Footer (on hover) -->
  <div class="footer-expanded">
    <div class="footer-container">
      <div class="footer-top">
        <div class="footer-logo">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo_homeroom.png", style: "height: 76px; width: auto;" %>
          <% end %>
        </div>

        <div class="footer-columns">
          <div class="footer-column">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Help Center</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>Categories</h4>
            <ul>
              <li><a href="#">List a Talent</a></li>
              <li><a href="#">Community Forum</a></li>
              <li><a href="#">Join a Free Class</a></li>
              <li><a href="#">Find a Class</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">New Features</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h4>Explore</h4>
            <ul>
              <li><a href="#">Discover Classes</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Become a Host</a></li>
              <li><a href="#">Gift a Class</a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <div class="footer-bottom">
        <div class="footer-socials">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/CarlijnDriessen/HomeRoom"><i class="fab fa-github"></i></a>
        </div>
        <div class="footer-legal">
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
          <a href="#">Code of Conduct</a>
        </div>
      </div>
    </div>
  </div>
</footer>
