<h2 class="text-center my-5">Things to do around you</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
      <div class="card-product w-100">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos p-3">
          <h2>Product name</h2>
          <span class="badge bg-secondary mb-2">Skateboards</span>
          <p>Product description with <strong>relevant info</strong> only.</p>
          <p class="mb-2 text-success fw-bold">$120</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-product w-100">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos p-3">
          <h2>Product name</h2>
          <span class="badge bg-secondary mb-2">Skateboards</span>
          <p class="mb-2 text-success fw-bold">$110</p>
          <p>Another description with <strong>useful info</strong>.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-product w-100">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos p-3">
          <h2>Product name</h2>
          <span class="badge bg-secondary mb-2">Skateboards</span>
          <p class="mb-2 text-success fw-bold">$130</p>
          <p>Fun product description with <strong>important info</strong>.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-product w-100">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos p-3">
          <h2>Product name</h2>
          <span class="badge bg-secondary mb-2">Skateboards</span>
          <p class="mb-2 text-success fw-bold">$90</p>
          <p>Final product description with <strong>quick details</strong>.</p>
        </div>
      </div>
    </div>

  </div>
</div>
