<h2 class="text-center my-5">Check all the experiences near you</h2>

<div class="container">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card text-white">
        <div class="card-img-overlay d-flex justify-content-center align-items-center text-center" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg'); background-size: cover; background-position: center; height: 250px; border-radius: 0.5rem;">
          <h4 class="card-title mb-0">Yoga Class</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white">
        <div class="card-img-overlay d-flex justify-content-center align-items-center text-center" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg'); background-size: cover; background-position: center; height: 250px; border-radius: 0.5rem;">
          <h4 class="card-title mb-0">Cooking MasterClass</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white">
        <div class="card-img-overlay d-flex justify-content-center align-items-center text-center" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg'); background-size: cover; background-position: center; height: 250px; border-radius: 0.5rem;">
          <h4 class="card-title mb-0">Salsa Lessons</h4>
        </div>
      </div>
    </div>
  </div>
</div>
